.login{
    position: absolute;
    top: 5%;
    left: 40%;
    margin-top: -10px;
    margin-left: -50px;
    width: 25%;
    height: 25%;
    .btn{
        width: 100%;
    }
    .field{
        padding-top: 10px;
    }
}