<div class="contener">
    <div class="home-content">

        <div *ngIf="gestionStat.showAlertSucess"  class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            <span> {{ gestionStat.alert.successMessage }} </span>
            <button type="button" (click)="gestionStat.closeSuccessAlert()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div *ngIf="gestionStat.showAlertError"  class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <span> {{ gestionStat.alert.errorMessage }} </span>
            <button type="button" (click)="gestionStat.closeErrorAlert()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div *ngIf="gestionStat.isStatsLoad" class="float:right; right: 0;">
              <button (click)="click()" class="btn btn-primary">
                  <span *ngIf="showDetails" >Masquer les Details <i class="fa fa-eye-slash" aria-hidden="true"></i> </span>
                  <span *ngIf="!showDetails" >Afficher les Details <i class="fa fa-eye" aria-hidden="true"></i></span>
              </button>
          </div>

          <div *ngIf="showDetails">
            <table class="table" class="table table-striped table-dark">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Cout du Stock Actuel</th>
                    <th scope="col"> Sommes des Ventes </th>
                    <th scope="col">Cout des Charges</th>
                    <th scope="col">Montant des Emprunts</th>
                    <th scope="col">Revenue Global</th>
                    <th scope="col">Revenue Exact ( Revenue Global - (cout des Charge + montant des emprunts))</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> {{ gestionStat.stats.coutsStockActuel }} FCFA </td>
                    <td>  {{ gestionStat.stats.coutVente }} FCFA </td>
                    <td> {{ gestionStat.stats.coutCharge }} FCFA </td>
                    <td> {{ gestionStat.stats.montantEmprunt }} FCFA</td>
                    <td> {{ gestionStat.stats.gain }} FCFA</td>
                    <td> {{ (gestionStat.stats.gain - gestionStat.stats.montantEmprunt) - gestionStat.stats.coutCharge }} FCFA</td>
                  </tr>
                </tbody>
              </table>            
            </div>
          
          
          <div style="float:right; right: 0;">
             <div class="btn btn-outline-dark" (click)="refresh()">
                  Actualise <i class="fa fa-refresh" aria-hidden="true"></i> 
             </div>
          </div>

        <div class="text-center" *ngIf="!gestionStat.isStatsLoad" >
            <div class="spinner-border text-primary" role="status">
              <span>Chargement...</span>
            </div>
          </div>

       <div class="canvasContainer" *ngIf="gestionStat.isStatsLoad">
                  <canvas
                  baseChart
                  [data]="gestionStat.salesData"
                  [type]="'bar'"
                  [options]="gestionStat.chartOptions"
                >
                </canvas>
       </div>

       
              
    </div>
</div>