<div class="contener">
    <div class="home-content">
        <div class="head">
            <ul class="nav nav-tabs">
                <li class="nav-item" (click)="swichTab()">
                     <a class="nav-link active" #newPerte>Enregistrer une Charge</a>
                </li>
                <li class="nav-item" (click)="swichTab()">
                     <a class="nav-link " #allList>Liste Des Charges</a>
                </li>
            </ul>
        </div>

        <div *ngIf="gestionChargeSrv.showAlertSucess"  class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            <span> {{ gestionChargeSrv.alert.successMessage }} </span>
            <button type="button" (click)="gestionChargeSrv.closeSuccessAlert()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div *ngIf="gestionChargeSrv.showAlertError"  class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <span> {{ gestionChargeSrv.alert.errorMessage }} </span>
            <button type="button" (click)="gestionChargeSrv.closeErrorAlert()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        <div *ngIf="!isTabListOpen;then  newPerteRegister else list" ></div>

        <ng-template #newPerteRegister >

                <div class="card" style="margin-top: 10px;">
                    <div class="card-header">
                         <div>Nouvelle Charge</div> 
                         <div class="form-check form-switch" style="float: right; margin-right: 10px;">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (click)="switchToArticle()">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Article  ?</label>
                          </div>  
                    </div>
                    <div class="card-body">
                        <form *ngIf="isArticle" [formGroup]="formControlOnIdSet">
                                <label for="article">Article ? : </label>
                                <select class="form-select" id="article" aria-label="Default select example" formControlName="idArticle" name="idArticle">
                                    <option *ngFor="let article of articleSrv.listArticle" [value]="article.idArticle"> {{ article.nomArticle }} </option>
                                </select>

                                <div class="mb-3">
                                    <label for="qte" class="form-label">Quantite :</label>
                                    <input type="number" class="form-control" id="qte" (keyup)="setPriceArticle()" name="qte" formControlName="qte" aria-describedby="emailHelp">
                                </div>
                        
                                <div class="mb-3">
                                    <label for="montant" class="form-label"> Montant :</label>
                                    <input type="number" class="form-control" id="montant" formControlName="price" name="prix">
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label"> Date :</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" name="date" formControlName="date">
                                </div>


                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Explication (details) :</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="motif" name="motif"></textarea>
                                </div>
                        </form>


                        <form *ngIf="!isArticle" [formGroup]="mainFormControl">
                        
                                <div class="mb-3">
                                    <label for="montant" class="form-label"> Montant :</label>
                                    <input type="number" class="form-control" id="montant" formControlName="price" name="prix">
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label"> Date :</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" formControlName="date" name="date">
                                </div>


                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Explication (details) :</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="motif" name="motif"></textarea>
                                </div>

                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary" style="float: right; margin-right: 10px;" (click)="savePerte()">Enregister  <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                    </div>
                </div>

        </ng-template>




        <ng-template #list style="margin-top: 10px;">
            
            <div >
                <button class="btn btn-outline-dark" (click)="refresh()">
                    Actualiser  <i class="fa fa-refresh" aria-hidden="true"></i> 
                </button>
            </div>

            <div class="text-center" *ngIf="gestionChargeSrv.listCharge.length == 0" >
                <div class="spinner-border text-primary" role="status">
                  <span>Chargement...</span>
                </div>
              </div>

            <div style="margin-top: 10px; margin-bottom: 5px">
                
              <div class="card" *ngFor="let perte of gestionChargeSrv.listCharge">
                <div class="card-header">
                        <span *ngIf="(perte.idArticle | typeof) !== 'undefined'" > Perte sur : Article </span>
                        <span *ngIf="(perte.idArticle | typeof) === 'undefined'" > Perte sur autre divers... </span>
                </div>
                <div *ngIf="(perte.idArticle | typeof) !== 'undefined'; then articles else divers"></div>
                
                <ng-template #articles>
                                

                                <div class="mb-3">
                                    <label for="article" class="form-label">Nom de l'article :</label>
                                    <input type="text" [value]="perte.nomArticle" [disabled]="true" class="form-control" id="article" name="article"  aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="qte" class="form-label">Quantite :</label>
                                    <input type="number" class="form-control" [value]="perte.qte" [disabled]="true" id="qte" name="qte"  aria-describedby="emailHelp">
                                </div>
                        
                                <div class="mb-3">
                                    <label for="montant" class="form-label"> Montant :</label>
                                    <input type="number" class="form-control" [value]="perte.prix" [disabled]="true" id="montant" name="prix">
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label"> Date :</label>
                                    <input type="text" class="form-control" [value]="perte.dates" [disabled]="true" id="exampleInputPassword1" name="date">
                                </div>


                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1"   class="form-label">Explication (details) :</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" [value]="perte.motif" [disabled]="true" rows="3" name="motif"></textarea>
                                </div>
                        </ng-template>


                        <ng-template #divers>
                        
                                <div class="mb-3">
                                    <label for="montant" class="form-label"> Montant :</label>
                                    <input type="number" class="form-control" [value]="perte.prix" [disabled]="true" id="montant" name="prix">
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label"> Date :</label>
                                    <input type="text" class="form-control" [value]="perte.dates" [disabled]="true" id="exampleInputPassword1" name="date">
                                </div>


                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Explication (details) :</label>
                                    <textarea class="form-control" [value]="perte.motif" [disabled]="true" id="exampleFormControlTextarea1" rows="3" name="motif"></textarea>
                                </div>

                        </ng-template>
                    </div>

                    <div class="card-footer">
                    </div>
                </div>
        </ng-template>


    </div>
</div>